@charset "UTF-8";

@media screen and (max-width: 1183px){

    h2#Personagens{
        margin-left:-2px;
    }
    
    div.personagem{
        
        background-color: var(--cor1); opacity: 0.8;
        display: block;
        text-align: center;
        height: 190px;
        width: 172px;
        
    }

    .paginaInicial {
        width: 40%;
    }
        
   
    div.discricao{
        position:relative;
           left:172px;
           bottom:190px;
           height:170px;
        }
    }

    p.personagem {
        display: center;
        flex-direction: row; /* It's row by default, but just to be explicit */
        align-items: center;
      }

    p.discricao {
        margin-top: 10px; /* Create a small gap between image and text */
      }
        
