/*320px — 480px: dispositivos móveis.
481px — 768px: iPads, tablets.
769px — 1024px: telas pequenas, laptops.
1025px — 1200px: desktops, telas grandes.
1201px e acima — telas muito grandes, TVs.
*/
@charset "UTF-8";

@media  (max-width: 1183px){

    h2.personagens{
        margin-left: -50px;
    }
    
    div.personagem{
        margin-left: -50px;
        background-color: var(--cor1); opacity: 0.8;
        display: block;
        text-align: center;
        height: 190px;
        width: 172px;
        
    }

    
  div.estatisticas {
    position: absolute;
    top: 37%;
    left: 220px;
    width: 35%;
    height: 50%;
    background-color: var(--cor1);
    opacity: 0.8;
}
p.estatisticas {
    text-align: left;
    color: var(--cor0);
    padding-top: 20%;
    padding-left: 10%;
}
   

    .paginaInicial {
        width: 40%;
    }
        
    div.discricao{
        position:relative;
           left:172px;
           bottom:190px;
           height:170px;
        }
    }

    p.personagem {
        display: center;
        flex-direction: row; /* It's row by default, but just to be explicit */
        align-items: center;
      }

    p.discricao {
        margin-top: 32px; /* Create a small gap between image and text */
      }
        
      
    
    nav{
        width: 40%;
        height:500px
        
}


footer{
    text-align:center;
    padding-top:5%;
    
    
}

h1.fimdejogo{
    opacity: 0.9;
    background-color: var(--cor1);
    margin-left: 25%;
    margin-top: 10%;
    color: var(--cor3);
    max-width: 50%;
    font-family: var(--fonte-destaque);
    text-align: center;
}
h2.fimdejogo{
    opacity: 0.9;
    background-color: var(--cor1);
    margin-left: 25%;
    color: var(--cor3);
    max-width: 50%;
    font-family: var(--fonte-destaque);
    text-align: center;
}

h3.fimdejogo{
    opacity: 0.9;
    background-color: var(--cor1);
    font-family: var(--fonte-destaque);
    color: var(--cor2);
    max-width: 50%;
    margin-left: 25%;
    text-decoration-line: var(--cor1);
}

div.textoFimDeJogo{
    opacity: 0.9;
    background-color: var(--cor1);
    margin-left: 25%;
    color: var(--cor3);
    max-width: 50%;
    font-family: var(--fonte-destaque);
    text-align: center;
}

span.dinheiro{
    color: green;
}