@charset "UTF-8"; 


@font-face {
    font-family: 'Sedgwick Ave Display';
    src: url(fontes/SedgwickAveDisplay-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;}

:root{
    --cor0: #f5faf7;
    --cor1: #979393;
    --cor2: #e71111;
    --cor3: #070707;
    --cor4: #c0b184;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'Sedgwick Ave Display', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    width: 100%;
    padding-top: 40px;
    min-height: 100px;
    
}

header > h1{
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    text-align: center;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.73);}

    header > P{
        text-align: center;
        font-family: var(--fonte-padrao);
        font-size: 1em;
        color: white;
        max-width: 920px;
        margin: auto;
        padding-right: 15px;
        padding-left: 20px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.373);
    }
    p.personagem{
        font-family: var(--fonte-destaque);
        color: var(--cor3);
    }

    

    body{
        background-image: url(artes/city2.jfif);
    }
    main{
        
        min-width: 25%;
        max-width: 100%;
        height: 10%;
        padding-top:1px;
        box-shadow: 4px 4px 9px 0px rgb(0, 0, 0, 0.315);
        }
        h1.fimdejogo{
            color: var(--cor0);
            max-width: 700px;
            font-family: var(--fonte-destaque);
            text-align: center ;
        }
        h2{
            max-width: 700px;
            font-family: var(--fonte-destaque);
            text-align: center ;
        }
        h2.fimdejogo{
            color: var(--cor0);
            max-width: 700px;
            font-family: var(--fonte-destaque);
            text-align: center ;
        }
      
        div.target-container{
            height: 159px;
            width: 169px;
            padding-left:6%;
            }
        
        div.personagem{
            vertical-align:bottom;
            background-color: var(--cor1); opacity: 0.8;
            display: inline-block;
            text-align: center;
            height: 190px;
            width: 172px;
            
            }
        
        img{
            margin-right:20px;
            width:85%;
            padding-top: 10px;
            padding-left: 10px;
                     }
    
    
        div.personagem:hover{
            background-color: var(--cor4);
    }
        div.personagem:hover>div.discricao>p{
                font-family:var(--fonte-padrao);
                text-align: left;
                font-size: small;
                display: block;
                color: rgb(10, 10, 10); opacity: 1;
                background-color: var(--cor4);
                width: 172px;
    }
                    
        p.discricao{
                        color: white; opacity: 0;
                    }
        p.display{
            text-align: left;
            font-family: var(--fonte-destaque);
        }
        p.displayTempo{
            display: inline;
            text-align: left;
            font-family: var(--fonte-destaque);
        }
       
         
        nav {
        padding-left:0px;
        background-color: var(--cor1);
        opacity: 0.8;
        width: 187px;
        height: 535px;
        float: left; /* Adicione esta propriedade para manter o nav à esquerda */
    }
        
    
        dd{
        width: 100%;
        padding-left: 5%;
        padding-top: 25%;
        height: 1px;
         
     }

        dd > a:hover {
        background-color: var(--cor3);
        color: var(--cor4);
        
    }

    dd > a{  
        text-decoration: none;
        color: var(--cor0);
        font-weight: bold;
        transition-duration: 0.5s;
    }

/* -------------------------------------------
Página Estatisticas */

div.estatisticas {
    position: absolute;
    top: 30%;
    left: 190px; 
    width: 43%;
    height: 30%;
    background-color: var(--cor1);
    opacity: 0.8;
}
    p.estatisticas{
        text-align: left;
        color: var(--cor0);
        padding-top: 22px;
        padding-left: 10%;
    }

        /* -------------------------------------------
Página Hospital*/

div.hospitalPublico{
    text-align: center;
    width: 30%;
    height: 30%;
    background-color: var(--cor1);
    opacity: 0.8;
    position: absolute;
    left: 200px;
    top: 150px;
   }
div.hospitalPublico:hover{
    background-color: var(--cor4);
}           
div.hospitalParticular{
text-align: center;
width: 30%;
height: 30%;
background-color: var(--cor1);
opacity: 0.8;
position: absolute;
left: 200px;
top: 350px;        
}
div.hospitalParticular:hover{
background-color: var(--cor4);
}


h3{
font-family: var(--fonte-destaque);
text-align: center;
}
p.hospital{
color: var(--cor0);
}

input.hospital{
width: 30%;
left: 40%;
position: absolute;
height: 16%;

}
    /* -------------------------------------------
Página Cometer crimes */

    div.crimes{
        position: absolute;
        top: 35%;
        left: 200px; 
        width: 40%;
        height: 25%;
        background-color: var(--cor1);
        opacity: 0.8;
    }

    select {
        position: absolute;
        left: 25%;
        width: 50%;
    }

    input{
        left: 26%;
        position: absolute;
        margin-top: 4%;
    }

    label{
        opacity: 0;
    }

    div.textoSolo{
        font-family: var(--fonte-destaque);
        margin-top: 45px;
        text-align: center;
    }

    div.crimesGangue{
        position: absolute;
        top: 62%;
        left: 200px; 
        width: 40%;
        height: 25%;
        background-color: var(--cor1);
        opacity: 0.8;
    }

    select.gangue {
        position: absolute;
        left: 25%;
        width: 50%;
    }

    input.gangue{
        left: 26%;
        position: absolute;
        margin-top: 3%;
    }

    div.textoGang{
        font-family: var(--fonte-destaque);
        margin-top: 45px;
        text-align: center;
    }

    /* -------------------------------------------
Página Escola */
    div.inteligencia{
        text-align: center;
        width: 48%;
        height: 15%;
        background-color: var(--cor4);
        opacity: 0.8;
        position: absolute;
        left: 200px;
        margin-top: 1%;
    }
    div.estudar{
            text-align: center;
            width: 48%;
            height: 15%;
            background-color: var(--cor1);
            opacity: 0.8;
            position: absolute;
            left: 200px;
            top: 46%;
           }
div.estudar:hover{
            background-color: var(--cor4);
        }           
    div.escola{
        text-align: center;
        width: 48%;
        height: 15%;
        background-color: var(--cor1);
        opacity: 0.8;
        position: absolute;
        left: 200px;
        top: 63%;        
}
div.escola:hover{
    background-color: var(--cor4);
}
    div.particular{
            text-align: center;
            width: 48%;
            height: 15%;
            background-color: var(--cor1);
            opacity: 0.8;
            position: absolute;
            left: 200px;
            top: 80%;
          
    }

    div.particular:hover{
        background-color: var(--cor4);
    }

    img.escola{
        padding-left: 20%;
        width: 45%;
        height: 45%;
    }

    h3{
        font-family: var(--fonte-destaque);
        text-align: center;
    }
    p.escola{
        font-size: small;
        margin-top: 1%;
        color: var(--cor0);
    }
   
    input.escola{
        width: 30%;
        left: 40%;
        position: absolute;
    }
        
    h2.escola{
            font-size: medium;
            font-family: var(--fonte-destaque);
            margin-top: 6%;
            text-align: center;
       
    }

    /* -------------------------------------------
Página Academia */
div.força{
    text-align: center;
    width: 48%;
    height: 15%;
    background-color: var(--cor4);
    opacity: 0.8;
    position: absolute;
    left: 200px;
    margin-top: 1%;
}

div.sozinho{
    text-align: center;
            width: 48%;
            height: 15%;
            background-color: var(--cor1);
            opacity: 0.8;
            position: absolute;
            left: 200px;
            top: 46%;
   }

div.sozinho:hover{
    background-color: var(--cor4);
}           
div.treinoAcademia{
    text-align: center;
    width: 48%;
    height: 15%;
    background-color: var(--cor1);
    opacity: 0.8;
    position: absolute;
    left: 200px;
    top: 63%;        
}
div.treinoAcademia:hover{
background-color: var(--cor4);
}
div.treinoArtesMarciais{
    text-align: center;
    width: 48%;
    height: 15%;
    background-color: var(--cor1);
    opacity: 0.8;
    position: absolute;
    left: 200px;
    top: 80%;
  
}

div.treinoArtesMarciais:hover{
background-color: var(--cor4);
}

p.academia{
        font-size: small;
        margin-top: 1%;
        color: var(--cor0);
}

input.academia{
        margin-top: 1%;
        width: 30%;
        left: 40%;
        position: absolute;
}  

    /* -------------------------------------------
Página Mercado de Armas */

div.armas{
    position: absolute;
    top: 35%;
    left: 200px; 
    width: 40%;
    height: 25%;
    background-color: var(--cor1);
    opacity: 0.8;
}

div.equipamentos{
    position: absolute;
    top: 62%;
    left: 200px; 
    width: 40%;
    height: 25%;
    background-color: var(--cor1);
    opacity: 0.8;
}

select.equipamentos {
    position: absolute;
    left: 25%;
    width: 50%;
}

input.equipamentos{
    left: 26%;
    position: absolute;
    margin-top: 3%;
}

/*-------------------------------LUTAS CLANDESTINAS*/

        table {
            width: 40%;
            border-collapse: collapse;
            margin-left: 15%;
              
        }

        div.lutas{
            background-color: var(--cor4);
            width: 40%;
            margin-left: 15%;
            margin-top: 1%;
        }

        h1.lutas {
            background-color: var(4);
            width: 100%;
            margin-left: 25%;
        }
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr {
            width: 40%;
            background-color: var(--cor4);
            
        }
        td{
            background-color: var(--cor1);
            opacity: 0.5;
            color: #070707;
        }

    /* -------------------------------------------
FOOTER */

footer {
    clear: both; /* Adicione esta propriedade */
    padding-top: 20px;
    background-color: #070707;
    color: white;
    text-align: center;
    font-size: 1em;
    height: 70px;
}